.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: auto;
  /*background: #e8a87c;*/
  background: linear-gradient(70deg, #c9c9c9, #e3e3e3, #9ad3de, #89bdd3);
  font-family: 'Sarala', sans-serif;
}

.map-container {
  display: flex;
  justify-content: center;
  padding-left: 30px;
  max-height: 100%;
}

.page-header {
  display: flex;
  font-size: 35px;
  justify-content: center;
  min-height: 30px;
  margin-top: 15px;
}

.footer {
  display: flex;
  flex-direction: row;
  min-height: 30px;
  font-size: 45px;
}

.footer-logo {
  margin: 0 15px;
}

.year-label {
  padding: 15px
}

.navbar {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

/* Template from CSS W3 */
.slider {
  -webkit-appearance: none;
  font-size: 15px;
  width: 450px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider:hover{
  cursor: pointer;
  opacity: 1;
}

.state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.tooltip {
  position: absolute;
  z-index: 2;
  box-shadow: 1px 1px 5px gray;
  padding: 10px;
  font-size: 12px;
  background-color: lightgray;
  border-radius: 5px;
}
.state-abbr {
  font-size: 18px;
  text-align: center;
  font-weight: 1000;
}
.side-bar {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 120px;
  align-items: center;
}

.legend {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin: 3px auto;
}

.legend-color {
  margin-left: 15px;
  width: 20px;
  border-radius: 100px;
}

.stats-container {
  width: 180px;
  min-height: 250px;
  padding: 5px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stats-label {
  font-size: 22px;
  font-weight: 600;
}

.stats-label, .state-label, .avg-salary, .med-salary, .tot-emp {
  margin: 5px auto;
  text-align: center;
}


select {
  margin: 8px auto;
}

.dropdown {
  min-height: 30px;
}

.year-ticks {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.year-ticks h1 {
  margin: auto 10px;
}
